@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-header {
    background-image: url("/images/background-pattern-mobile.svg");
  }

  @media (min-width: 640px) {
    .bg-header {
      background-image: url("/images/background-pattern-desktop.svg");
    }
  }
}
